
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 51, 51, 0.9);
}

.Modal {
  max-width: 800px;
  z-index: 1200;
}
